.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.login-box {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background: #b7c9a3;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #6b7f5b;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
