.home {
  min-height: 100vh;
  padding: 20px;
  background: #f6f9f5;
}

/* SEARCH */
.search {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  margin-bottom: 15px;
}

/* CATEGORY */
.category {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.category button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background: #d8e6d2;
  cursor: pointer;
}

.category .active {
  background: #5f7c5b;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #cfe1c7;
  padding: 12px;
  border-radius: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

/* BUTTON */
.cart {
  margin-top: 8px;
  padding: 6px;
  width: 100%;
  border-radius: 12px;
  border: none;
  background: #5f7c5b;
  color: white;
}

/* PROMO */
.promo {
  margin-top: 30px;
  text-align: center;
}

.promo a {
  padding: 12px 20px;
  background: #5f7c5b;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.promo-btn {
  padding: 12px 20px;
  background: #5f7c5b;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}
