* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND PUTIH FULL */
.auth-page {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOX PUTIH */
.auth-box {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
}

/* LOGO */
.auth-box img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* INPUT */
.auth-box input,
.auth-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #1faa59;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* ERROR */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* LINK */
.auth-links {
  margin-top: 14px;
  font-size: 14px;
}

.auth-links a {
  color: #1faa59;
  text-decoration: none;
  display: block;
  margin-top: 6px;
}
